<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<body class="bg-info">
    <div class="container-fluid text-center">

        <div class="card bg-info text-white">
            <div class="card-body"><h2 class="text-light bg-dark">Your Generated Password</h2>
                <br><br><br><br>
                <h2 class="container alert alert-success">{{ password }}</h2>
                <br>
                <a class="btn btn-warning" href="{% url 'home' %}">Back to Home</a>
            
            </div>
        </div>
    </div>
</body>